@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500&display=swap");
html {
  height: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 62.5%;
  height: 100%;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  min-height: 100%;
  font-size: 1.8rem;
  font-family: "Rubik", sans-serif;
  background: #0f1424;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.grid-container {
  max-width: 100rem;
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr;
  -ms-grid-rows: auto auto;
      grid-template-rows: auto auto;
  gap: 2.5rem;
  margin: 2rem;
}

@media only screen and (max-width: 850px) {
  .grid-container {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: auto;
        grid-template-rows: auto;
    max-width: 50rem;
  }
}

.box {
  padding: 4rem 0 0 0;
  border-radius: 1rem 1rem 10rem 10rem;
  cursor: pointer;
}

.box.-work-box {
  background: url("../images/icon-work.svg") no-repeat, -webkit-gradient(linear, left top, left bottom, from(#ff8c66), to(#ff8c66));
  background: url("../images/icon-work.svg") no-repeat, linear-gradient(#ff8c66, #ff8c66);
  background-position: top -12px right 10px;
}

.box.-play-box {
  background: url("../images/icon-play.svg") no-repeat, -webkit-gradient(linear, left top, left bottom, from(#56c2e6), to(#56c2e6));
  background: url("../images/icon-play.svg") no-repeat, linear-gradient(#56c2e6, #56c2e6);
  background-position: top -12px right 10px;
}

.box.-study-box {
  background: url("../images/icon-study.svg") no-repeat, -webkit-gradient(linear, left top, left bottom, from(#ff5c7c), to(#ff5c7c));
  background: url("../images/icon-study.svg") no-repeat, linear-gradient(#ff5c7c, #ff5c7c);
  background-position: top -12px right 10px;
}

.box.-exercise-box {
  background: url("../images/icon-exercise.svg") no-repeat, -webkit-gradient(linear, left top, left bottom, from(#4acf81), to(#4acf81));
  background: url("../images/icon-exercise.svg") no-repeat, linear-gradient(#4acf81, #4acf81);
  background-position: top -12px right 10px;
}

.box.-social-box {
  background: url("../images/icon-social.svg") no-repeat, -webkit-gradient(linear, left top, left bottom, from(#7536d3), to(#7536d3));
  background: url("../images/icon-social.svg") no-repeat, linear-gradient(#7536d3, #7536d3);
  background-position: top -12px right 10px;
}

.box.-selfCare-box {
  background: url("../images/icon-self-care.svg") no-repeat, -webkit-gradient(linear, left top, left bottom, from(#f1c65b), to(#f1c65b));
  background: url("../images/icon-self-care.svg") no-repeat, linear-gradient(#f1c65b, #f1c65b);
  background-position: top -12px right 10px;
}

.box > .info--container {
  border-radius: 1rem;
  background: #1c1f4a;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 2.5rem;
  -webkit-transition: background 0.25s;
  transition: background 0.25s;
}

.box > .info--container:hover {
  background: #43477f;
}

.box > .info--container .upper--wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.box > .info--container .upper--wrap .title {
  font-size: 1.8rem;
  font-weight: 500;
}

.box > .info--container .upper--wrap .dots {
  cursor: pointer;
}

.box > .info--container .upper--wrap .dots:hover {
  -webkit-filter: brightness(150%);
          filter: brightness(150%);
}

.box > .info--container .hours--wrap {
  margin-top: 2rem;
}

@media only screen and (max-width: 850px) {
  .box > .info--container .hours--wrap {
    margin-top: 1rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.box > .info--container .hours--wrap .hours {
  font-size: clamp(3.2rem, 5vw, 4.8rem);
  font-weight: 300;
}

.box > .info--container .hours--wrap .previousInfo {
  margin-top: 1rem;
  font-size: 1.4rem;
  font-weight: 400;
}

.person-card {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1 / 2;
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  grid-row: 1 / 3;
  background: #1c1f4a;
  border-radius: 1rem;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.person-card > .person--wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 3rem;
  height: 67%;
  background: #5847eb;
  border-radius: 0 0 1rem 1rem;
}

@media only screen and (max-width: 850px) {
  .person-card > .person--wrap {
    padding: 2.5rem;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.person-card > .person--wrap .profilePic {
  border-radius: 999px;
  width: 7rem;
  border: 0.35rem white solid;
}

@media only screen and (max-width: 850px) {
  .person-card > .person--wrap .profilePic {
    width: 6rem;
  }
}

.person-card > .person--wrap > .name--wrap {
  margin-top: 3rem;
}

@media only screen and (max-width: 850px) {
  .person-card > .person--wrap > .name--wrap {
    margin-top: 0;
    margin-left: 2rem;
  }
}

.person-card > .person--wrap > .name--wrap .reportFor {
  font-size: 1.4rem;
  color: #bdc1ff;
}

.person-card > .person--wrap > .name--wrap .name {
  font-weight: 300;
  font-size: clamp(2.2rem, 5vw, 3rem);
}

.person-card > .timeframe-controls {
  padding: 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}

@media only screen and (max-width: 850px) {
  .person-card > .timeframe-controls {
    padding: 2.5rem;
    width: 100%;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.person-card > .timeframe-controls .timeframeButton {
  background: none;
  color: #6f76c8;
  border: none;
  text-align: start;
  font-size: 1.6rem;
  cursor: pointer;
}

.person-card > .timeframe-controls .timeframeButton.selected {
  color: white;
}

.person-card > .timeframe-controls .timeframeButton:hover {
  color: white;
}

.person-card > .timeframe-controls .timeframeButton + .timeframeButton {
  margin-top: 1.5rem;
}

@media only screen and (max-width: 850px) {
  .person-card > .timeframe-controls .timeframeButton + .timeframeButton {
    margin-top: 0;
    margin-left: 1rem;
  }
}
/*# sourceMappingURL=main.css.map */