$colors: (
    primary-blue: hsl(246, 80%, 60%),
    primary-work: hsl(15, 100%, 70%),
    neutral-very-dark-blue: hsl(226, 43%, 10%),
    neutral-dark-blue: hsl(235, 46%, 20%),
    neutral-desaturated-blue: hsl(235, 45%, 61%),
    neutral-pale-blue: hsl(236, 100%, 87%),
);
