.box {
    padding: 4rem 0 0 0;
    border-radius: 1rem 1rem 10rem 10rem;
    cursor: pointer;

    // &:hover > .info--container {
    //     background: color(neutral-desaturated-blue);
    // }

    &.-work-box {
        background: url("../images/icon-work.svg") no-repeat,
            linear-gradient(color(primary-work), color(primary-work));
        background-position: top -12px right 10px;
    }

    &.-play-box {
        background: url("../images/icon-play.svg") no-repeat,
            linear-gradient(color(primary-play), color(primary-play));
        background-position: top -12px right 10px;
    }

    &.-study-box {
        background: url("../images/icon-study.svg") no-repeat,
            linear-gradient(color(primary-study), color(primary-study));
        background-position: top -12px right 10px;
    }

    &.-exercise-box {
        background: url("../images/icon-exercise.svg") no-repeat,
            linear-gradient(color(primary-exercise), color(primary-exercise));
        background-position: top -12px right 10px;
    }

    &.-social-box {
        background: url("../images/icon-social.svg") no-repeat,
            linear-gradient(color(primary-social), color(primary-social));
        background-position: top -12px right 10px;
    }

    &.-selfCare-box {
        background: url("../images/icon-self-care.svg") no-repeat,
            linear-gradient(color(primary-selfCare), color(primary-selfCare));
        background-position: top -12px right 10px;
    }

    > .info--container {
        border-radius: 1rem;
        background: color(neutral-dark-blue);
        display: flex;
        flex-direction: column;
        padding: 2.5rem;
        transition: background 0.25s;

        // &:hover {
        //     background: hsl(236, 31%, 38%);
        // }

        .upper--wrap {
            display: flex;
            align-items: center;
            justify-content: space-between;

            .title {
                font-size: 1.8rem;
                font-weight: 500;
            }

            .dots {
                cursor: pointer;

                &:hover {
                    filter: brightness(150%);
                }
            }
        }

        .hours--wrap {
            margin-top: 2rem;
            @include mobileSize {
                margin-top: 1rem;
                display: flex;
                align-items: center;
                justify-content: space-between;
            }
            .hours {
                font-size: clamp(3.2rem, 5vw, 4.8rem);
                font-weight: 300;
            }

            .previousInfo {
                margin-top: 1rem;
                font-size: 1.4rem;
                font-weight: 400;
            }
        }
    }
}
