html {
    height: 100%;
    box-sizing: border-box;
    font-size: 62.5%;
    height: 100%;
}

*,
*::before,
*::after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

body {
    min-height: 100%;
    font-size: 1.8rem;
    font-family: "Rubik", sans-serif;
    background: color(neutral-very-dark-blue);
    color: white;
    @include flexCenter();
}
